In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
def plot_distribution(df_all, col, log_=False):
    
    if log_:
        plt.figure(figsize=(10, 6))
        sns.histplot(np.log1p(df_all[col]), kde=True, color='blue')
        plt.title(f'Distribution of {col}')
        plt.xlabel('Column Values')
        plt.ylabel('Frequency')
        plt.show()
    else:
        plt.figure(figsize=(10, 6))
        sns.histplot(df_all[col], kde=True, color='blue')
        plt.title(f'Distribution of {col}')
        plt.xlabel('Column Values')
        plt.ylabel('Frequency')
        plt.show()

In [4]:
df = pd.read_excel('smb_restaurants.xlsx')

df = df.drop_duplicates()

df = df.loc[df['business_name'] != 'Permanantly Closed']

In [5]:
drop_cols = ['insta_link', 'fb_link', 'Unnamed: 41', 'insta_name', 'tiktok_link', 'insta_name.1']
df = df.drop(drop_cols, axis = 1)
df = df.replace('na',np.nan)

#keep followers column separately
col_followers = ['business_name', 'insta_followers', 'fb_followers', 'tiktok_followers', 'tiktok_likes']

df_followers = df[col_followers]

In [6]:
#fill na by 0
df = df.fillna(0)

In [8]:
def transform_df(df,category_):
    # Create the new DataFrame
    data_wanted = {
        f'{category_}_month_m': df.drop('business_name',axis=1).iloc[:, :-1].values.flatten(),
        f'{category_}_month_m_1': df.drop('business_name',axis=1).iloc[:, 1:].values.flatten()
    }
    df_wanted = pd.DataFrame(data_wanted)
    return df_wanted

In [9]:
df

,business_name,insta_followers,insta_ave_views_first5_biz_202309,insta_ave_likes_first5_biz_202309,insta_ave_comments_first5_biz_202309,insta_ave_views_first5_biz_202308,insta_ave_likes_first5_biz_202308,insta_ave_comments_first5_biz_202308,insta_ave_views_first5_biz_202307,insta_ave_likes_first5_biz_202307,insta_ave_comments_first5_biz_202307,insta_ave_views_first5_biz_202306,insta_ave_likes_first5_biz_202306,insta_ave_comments_first5_biz_202306,insta_ave_views_first5_biz_202305,insta_ave_likes_first5_biz_202305,insta_ave_comments_first5_biz_202305,insta_ave_views_first5_biz_202304,insta_ave_likes_first5_biz_202304,insta_ave_comments_first5_biz_202304,fb_followers,fb_ave_views_first5_biz_202309,fb_ave_likes_first5_biz_202309,fb_ave_comments_first5_biz_202309,fb_ave_views_first5_biz_202308,fb_ave_likes_first5_biz_202308,fb_ave_comments_first5_biz_202308,fb_ave_views_first5_biz_202307,fb_ave_likes_first5_biz_202307,fb_ave_comments_first5_biz_202307,fb_ave_views_first5_biz_202306,fb_ave_likes_first5_biz_202306,fb_ave_comments_first5_biz_202306,fb_ave_views_first5_biz_202305,fb_ave_likes_first5_biz_202305,fb_ave_comments_first5_biz_202305,fb_ave_views_first5_biz_202304,fb_ave_likes_first5_biz_202304,fb_ave_comments_first5_biz_202304,tiktok_followers,tiktok_likes,tiktok_ave_views_first5_biz_202309,tiktok_ave_likes_first5_biz_202309,tiktok_ave_comments_first5_biz_202309,tiktok_ave_views_first5_biz_202308,tiktok_ave_likes_first5_biz_202308,tiktok_ave_comments_first5_biz_202308,tiktok_ave_views_first5_biz_202307,tiktok_ave_likes_first5_biz_202307,tiktok_ave_comments_first5_biz_202307,tiktok_ave_views_first5_biz_202306,tiktok_ave_likes_first5_biz_202306,tiktok_ave_comments_first5_biz_202306,tiktok_ave_views_first5_biz_202305,tiktok_ave_likes_first5_biz_202305,tiktok_ave_comments_first5_biz_202305,tiktok_ave_views_first5_biz_202304,tiktok_ave_likes_first5_biz_202304,tiktok_ave_comments_first5_biz_202304,tiktok_ave_views_first5_nonbiz_202309,tiktok_ave_likes_first5_nonbiz_202309,tiktok_ave_comments_first5_nonbiz_202309,tiktok_ave_views_first5_nonbiz_202308,tiktok_ave_likes_first5_nonbiz_202308,tiktok_ave_comments_first5_nonbiz_202308,tiktok_ave_views_first5_nonbiz_202307,tiktok_ave_likes_first5_nonbiz_202307,tiktok_ave_comments_first5_nonbiz_202307,tiktok_ave_views_first5_nonbiz_202306,tiktok_ave_likes_first5_nonbiz_202306,tiktok_ave_comments_first5_nonbiz_202306,tiktok_ave_views_first5_nonbiz_202305,tiktok_ave_likes_first5_nonbiz_202305,tiktok_ave_comments_first5_nonbiz_202305,tiktok_ave_views_first5_nonbiz_202304,tiktok_ave_likes_first5_nonbiz_202304,tiktok_ave_comments_first5_nonbiz_202304
0,Cafe Luna,3160.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,51.333333,6.333333,1800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.00,7.0,0.0,0.00,0.0,0.0,13.00,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.00,0.00,0.0,2116.0,27.0,0.5,86735.666667,5015.666667,38.0,16600.0,552.0,4.0,1821.666667,35.5,3.0,3020.0,134.0,3.0,0.0,0.0,0.0
1,Moona,6882.0,0.0,50.5,1.0,0.0,70.0,5.0,0.00000,41.000000,1.000000,0.0,43.8,1.6,0.0,53.000000,4.000000,0.00000,58.666667,2.000000,645.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.80,0.0,0.0,1.25,0.0,0.0,1.00,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.00,0.00,0.0,0.0,0.0,0.0,1422.000000,7.000000,0.0,0.0,0.0,0.0,18484.000000,1112.0,10.0,968.0,40.0,5.0,63700.0,2569.0,52.0
2,4 Corners Pizza,27000.0,13548.0,424.0,47.0,23624.5,1096.5,23.0,29607.66667,1345.333333,37.666667,23750.0,975.0,28.5,3992.0,188.333333,7.666667,40541.66667,1078.000000,108.666667,1000.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,5.5,0.0,0.0,3.00,1.0,0.0,7.00,1.0,0.0,0.00,0.0,1651.0,37700.0,2569.666667,85.0,1.333333,0.0,0.0,0.0,27800.0,551.0,7.0,1363.000000,42.0,2.0,0.000000,0.000000,0.0,882.00,18.00,2.0,720.0,30.0,0.0,0.000000,0.000000,0.0,13350.0,1453.0,24.5,16813.500000,405.2,3.0,25633.5,4121.0,22.0,1402.0,43.0,1.5
3,Hunters,21000.0,12321.0,256.0,4.6,7276.0,260.2,2.6,0.00000,207.400000,3.000000,11000.0,218.6,21.8,5474.0,199.600000,5.600000,10906.00000,280.800000,5.800000,217.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,20.0,41.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,989.0,6.0,0.0,2212.000000,129.5,1.0,566.0,31.0,1.0,378.8,12.0,0.4
4,Ruka Resto Bar,12000.0,4897.0,157.4,1.4,2701.0,118.4,1.8,3869.00000,113.200000,1.200000,3009.5,98.8,3.0,4362.5,107.000000,1.600000,4163.00000,131.000000,3.600000,924.0,0.0,2.0,0.0,0.0,2.5,0.0,0.0,3.0,0.0,0.0,2.14,0.0,0.0,1.86,0.0,0.0,1.14,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.00,0.00,0.0,899.0,30.5,1.0,3628.000000,174.000000,1.0,798.5,18.5,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Crudo Boston,1854.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,1400.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.00,0.00,0.0,1204.5,30.0,0.5,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,536.0,20.0,0.0
96,Meimei dumplings,25000.0,0.0,439.2,13.2,0.0,549.4,4.0,0.00000,207.200000,5.000000,0.0,167.2,4.6,0.0,230.800000,5.600000,0.00000,254.800000,5.400000,5500.0,0.0,11.3,1.0,0.0,12.0,1.0,0.0,14.6,2.4,0.0,16.00,1.4,0.0,22.40,1.8,0.0,17.20,2.6,126.0,1578.0,352.200000,28.6,0.000000,294.0,25.0,0.0,720.5,32.5,0.5,804.285714,36.4,0.4,1181.666667,83.500000,0.0,1240.20,90.20,0.8,0.0,0.0,0.0,1138.000000,46.000000,3.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,Paramount Southie,3032.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,1.000000,0.0,0.0,0.0,0.0,0.000000,1.200000,0.00000,0.000000,0.000000,1800.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.00,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,Teado Central,104.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.000000,0.0,11.0,1.0,0.0,15.000000,0.000000,0.00000,15.000000,1.000000,951.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.60,0.6,0.0,3.50,0.0,0.0,0.80,0.0,14.0,21.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,86.25,2.75,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,Trade Boston,9565.0,0.0,61.4,2.6,0.0,39.0,0.8,0.00000,50.600000,1.400000,0.0,47.5,1.4,0.0,33.600000,1.000000,0.00000,40.000000,4.200000,6100.0,0.0,2.4,0.0,0.0,3.4,0.0,0.0,3.6,0.0,0.0,4.60,0.2,0.0,2.00,0.0,0.0,1.60,0.0,20.0,228.0,0.000000,0.0,0.000000,0.0,0.0,0.0,247.0,4.0,0.5,38.333333,1.0,0.0,35.000000,0.666667,0.0,4.20,0.60,0.0,0.0,0.0,0.0,640.000000,26.000000,4.0,0.0,0.0,0.0,1333.000000,30.0,3.0,0.0,0.0,0.0,1485.0,55.0,2.0

# Instagram

In [10]:
type_ = 'insta'

In [11]:
#view
selected_cols_view = ['business_name', f'{type_}_ave_views_first5_biz_202304', f'{type_}_ave_views_first5_biz_202305'
                , f'{type_}_ave_views_first5_biz_202306', f'{type_}_ave_views_first5_biz_202307'
                , f'{type_}_ave_views_first5_biz_202308', f'{type_}_ave_views_first5_biz_202309']

df_view = df[selected_cols_view]
df_view_trans = transform_df(df_view,category_='view')

#like
selected_cols_like = ['business_name', f'{type_}_ave_likes_first5_biz_202304', f'{type_}_ave_likes_first5_biz_202305'
                , f'{type_}_ave_likes_first5_biz_202306', f'{type_}_ave_likes_first5_biz_202307'
                , f'{type_}_ave_likes_first5_biz_202308', f'{type_}_ave_likes_first5_biz_202309']

df_like = df[selected_cols_like]
df_like_trans = transform_df(df_like,category_='like')

#comment
selected_cols_comment = ['business_name', f'{type_}_ave_comments_first5_biz_202304', f'{type_}_ave_comments_first5_biz_202305'
                , f'{type_}_ave_comments_first5_biz_202306', f'{type_}_ave_comments_first5_biz_202307'
                , f'{type_}_ave_comments_first5_biz_202308', f'{type_}_ave_comments_first5_biz_202309']

df_comment = df[selected_cols_comment]
df_comment_trans = transform_df(df_comment, category_='comment')

In [12]:
df_all = pd.concat([df_view_trans, df_like_trans, df_comment_trans],axis=1)

df_followers_tem = df_followers[['business_name', f'{type_}_followers']]

# Repeat each row 5 times
df_followers_rep = pd.DataFrame({
    'business_name': np.repeat(df_followers_tem['business_name'], 5),
    f'{type_}_followers': np.repeat(df_followers_tem[f'{type_}_followers'], 5)
})

df_followers_rep = pd.DataFrame(df_followers_rep)
df_followers_rep = df_followers_rep.reset_index(drop=True)

df_all = pd.concat([df_followers_rep, df_all],axis=1)

In [13]:
df_all.describe()

,insta_followers,view_month_m,view_month_m_1,like_month_m,like_month_m_1,comment_month_m,comment_month_m_1
count,475.000000,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000
mean,24470.305263,4612.462222,4157.298785,245.525139,220.053611,21.710868,23.806493
std,71989.177755,21522.751106,20730.153469,708.360939,631.453334,183.709951,191.718578
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3728.000000,0.000000,0.000000,13.950000,12.000000,0.000000,0.000000
50%,7387.000000,0.000000,0.000000,67.200000,62.000000,2.000000,2.000000
75%,18000.000000,2083.750000,2069.750000,181.100000,178.437500,7.000000,6.600000
max,502000.000000,359000.000000,359000.000000,7864.800000,7864.800000,3329.000000,3329.000000

In [14]:
# Define the target variable ranges based on quantiles
num_bins = 4  # Number of quantiles or ranges
df_all[f'{type_}_like_range_month_m'] = pd.qcut(df_all['like_month_m'], q=num_bins, duplicates='drop')

df_all[f'{type_}_view_range_month_m'] = pd.qcut(df_all['view_month_m'], q=num_bins, duplicates='drop')

df_all[f'{type_}_comment_range_month_m'] = pd.qcut(df_all['comment_month_m'], q=num_bins, duplicates='drop')

In [15]:
#like
like_range_list = list(df_all[f'{type_}_like_range_month_m'].unique())
# like_range_list.remove(np.nan)

df_all[f'{type_}_like_range_month_m_1'] = np.nan
for range_ in like_range_list:
    left_ = range_.left
    right_ = range_.right
    mask = (df_all['like_month_m_1'] > left_) & (df_all['like_month_m_1'] <= right_)
    df_all.loc[mask, f'{type_}_like_range_month_m_1'] = str(range_)

In [16]:
#comment
comment_range_list = list(df_all[f'{type_}_comment_range_month_m'].unique())
# comment_range_list.remove(np.nan)

df_all[f'{type_}_comment_range_month_m_1'] = np.nan
for range_ in comment_range_list:
    left_ = range_.left
    right_ = range_.right
    mask = (df_all['comment_month_m_1'] > left_) & (df_all['comment_month_m_1'] <= right_)
    df_all.loc[mask, f'{type_}_comment_range_month_m_1'] = str(range_)

In [17]:
#view
view_range_list = list(df_all[f'{type_}_view_range_month_m'].unique())
# view_range_list.remove(np.nan)

df_all[f'{type_}_view_range_month_m_1'] = np.nan
for range_ in view_range_list:
    left_ = range_.left
    right_ = range_.right
    mask = (df_all['view_month_m_1'] > left_) & (df_all['view_month_m_1'] <= right_)
    df_all.loc[mask, f'{type_}_view_range_month_m_1'] = str(range_)

In [18]:
df_all.isna().sum()

business_name                    0
insta_followers                  5
view_month_m                     0
view_month_m_1                   0
like_month_m                     0
like_month_m_1                   0
comment_month_m                  0
comment_month_m_1                0
insta_like_range_month_m         0
insta_view_range_month_m         0
insta_comment_range_month_m      0
insta_like_range_month_m_1       0
insta_comment_range_month_m_1    0
insta_view_range_month_m_1       0
dtype: int64

In [19]:
df_all[f'{type_}_like_range_month_m_1'].value_counts()

(13.95, 67.2]      130
(-0.001, 13.95]    126
(181.1, 7864.8]    116
(67.2, 181.1]      108
Name: insta_like_range_month_m_1, dtype: int64

In [20]:
df_all[f'{type_}_like_range_month_m'].value_counts()

(-0.001, 13.95]    120
(13.95, 67.2]      120
(67.2, 181.1]      120
(181.1, 7864.8]    120
Name: insta_like_range_month_m, dtype: int64

In [21]:
df_all[f'{type_}_comment_range_month_m_1'].value_counts()

(-0.001, 2.0]    249
(2.0, 7.0]       117
(7.0, 3329.0]    114
Name: insta_comment_range_month_m_1, dtype: int64

In [22]:
df_all[f'{type_}_comment_range_month_m'].value_counts()

(-0.001, 2.0]    242
(2.0, 7.0]       119
(7.0, 3329.0]    119
Name: insta_comment_range_month_m, dtype: int64

In [23]:
df_all[f'{type_}_view_range_month_m_1'].value_counts()

(-0.001, 2083.75]      361
(2083.75, 359000.0]    119
Name: insta_view_range_month_m_1, dtype: int64

In [24]:
df_all[f'{type_}_view_range_month_m'].value_counts()

(-0.001, 2083.75]      360
(2083.75, 359000.0]    120
Name: insta_view_range_month_m, dtype: int64

In [25]:
selected_cols = ['business_name', f'{type_}_followers', f'{type_}_like_range_month_m', f'{type_}_view_range_month_m'
                 , f'{type_}_comment_range_month_m', f'{type_}_like_range_month_m_1', f'{type_}_comment_range_month_m_1'
                 , f'{type_}_view_range_month_m_1']

df_all_insta = df_all[selected_cols]

In [26]:
df_all_insta.head()

,business_name,insta_followers,insta_like_range_month_m,insta_view_range_month_m,insta_comment_range_month_m,insta_like_range_month_m_1,insta_comment_range_month_m_1,insta_view_range_month_m_1
0,Cafe Luna,3160.0,"(13.95, 67.2]","(-0.001, 2083.75]","(2.0, 7.0]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]"
1,Cafe Luna,3160.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]"
2,Cafe Luna,3160.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]"
3,Cafe Luna,3160.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]"
4,Cafe Luna,3160.0,"(-0.001, 13.95]","(-0.001, 2083.75]","(-0.001, 2.0]","(-0.001, 13.95]","(-0.001, 2.0]","(-0.001, 2083.75]"

In [27]:
df_all_insta.to_csv(f'cleaned_{type_}_range.csv', index=False)

# Facebook

In [28]:
type_ = 'fb'

In [29]:
#like
selected_cols_like = ['business_name', f'{type_}_ave_likes_first5_biz_202304', f'{type_}_ave_likes_first5_biz_202305'
                , f'{type_}_ave_likes_first5_biz_202306', f'{type_}_ave_likes_first5_biz_202307'
                , f'{type_}_ave_likes_first5_biz_202308', f'{type_}_ave_likes_first5_biz_202309']

df_like = df[selected_cols_like]
df_like_trans = transform_df(df_like,category_='like')

#comment
selected_cols_comment = ['business_name', f'{type_}_ave_comments_first5_biz_202304', f'{type_}_ave_comments_first5_biz_202305'
                , f'{type_}_ave_comments_first5_biz_202306', f'{type_}_ave_comments_first5_biz_202307'
                , f'{type_}_ave_comments_first5_biz_202308', f'{type_}_ave_comments_first5_biz_202309']

df_comment = df[selected_cols_comment]
df_comment_trans = transform_df(df_comment, category_='comment')

In [30]:
df_all = pd.concat([df_like_trans, df_comment_trans],axis=1)

df_followers_tem = df_followers[['business_name', f'{type_}_followers']]

# Repeat each row 5 times
df_followers_rep = pd.DataFrame({
    'business_name': np.repeat(df_followers_tem['business_name'], 5),
    f'{type_}_followers': np.repeat(df_followers_tem[f'{type_}_followers'], 5)
})

df_followers_rep = pd.DataFrame(df_followers_rep)
df_followers_rep = df_followers_rep.reset_index(drop=True)

df_all = pd.concat([df_followers_rep, df_all],axis=1)

In [31]:
df_all.describe()

,fb_followers,like_month_m,like_month_m_1,comment_month_m,comment_month_m_1
count,445.000000,480.000000,480.000000,480.000000,480.000000
mean,5039.606742,16.367062,16.257500,0.874271,0.873542
std,12268.862522,211.007495,211.055783,5.631180,5.635030
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,532.000000,0.000000,0.000000,0.000000,0.000000
50%,1900.000000,0.400000,0.200000,0.000000,0.000000
75%,4500.000000,6.200000,5.850000,0.200000,0.200000
max,80000.000000,4610.600000,4610.600000,110.200000,110.200000

In [32]:
# Define the target variable ranges based on quantiles
num_bins = 4  # Number of quantiles or ranges
df_all[f'{type_}_like_range_month_m'] = pd.qcut(df_all['like_month_m'], q=num_bins, duplicates='drop')

df_all[f'{type_}_comment_range_month_m'] = pd.qcut(df_all['comment_month_m'], q=num_bins, duplicates='drop')

In [33]:
#like
like_range_list = list(df_all[f'{type_}_like_range_month_m'].unique())
# like_range_list.remove(np.nan)

df_all[f'{type_}_like_range_month_m_1'] = np.nan
for range_ in like_range_list:
    left_ = range_.left
    right_ = range_.right
    mask = (df_all['like_month_m_1'] > left_) & (df_all['like_month_m_1'] <= right_)
    df_all.loc[mask, f'{type_}_like_range_month_m_1'] = str(range_)

In [34]:
#comment
comment_range_list = list(df_all[f'{type_}_comment_range_month_m'].unique())
# comment_range_list.remove(np.nan)

df_all[f'{type_}_comment_range_month_m_1'] = np.nan
for range_ in comment_range_list:
    left_ = range_.left
    right_ = range_.right
    mask = (df_all['comment_month_m_1'] > left_) & (df_all['comment_month_m_1'] <= right_)
    df_all.loc[mask, f'{type_}_comment_range_month_m_1'] = str(range_)

In [35]:
df_all.isna().sum()

business_name                  0
fb_followers                  35
like_month_m                   0
like_month_m_1                 0
comment_month_m                0
comment_month_m_1              0
fb_like_range_month_m          0
fb_comment_range_month_m       0
fb_like_range_month_m_1        0
fb_comment_range_month_m_1     0
dtype: int64

In [36]:
df_all[f'{type_}_like_range_month_m_1'].value_counts()

(-0.001, 0.4]    251
(0.4, 6.2]       116
(6.2, 4610.6]    113
Name: fb_like_range_month_m_1, dtype: int64

In [37]:
df_all[f'{type_}_like_range_month_m'].value_counts()

(-0.001, 0.4]    244
(0.4, 6.2]       118
(6.2, 4610.6]    118
Name: fb_like_range_month_m, dtype: int64

In [38]:
df_all[f'{type_}_comment_range_month_m_1'].value_counts()

(-0.001, 0.2]    375
(0.2, 110.2]     105
Name: fb_comment_range_month_m_1, dtype: int64

In [39]:
df_all[f'{type_}_comment_range_month_m'].value_counts()

(-0.001, 0.2]    369
(0.2, 110.2]     111
Name: fb_comment_range_month_m, dtype: int64

In [40]:
selected_cols = ['business_name', f'{type_}_followers', f'{type_}_like_range_month_m'
                 , f'{type_}_comment_range_month_m', f'{type_}_like_range_month_m_1'
                 , f'{type_}_comment_range_month_m_1']

df_all_fb = df_all[selected_cols]

In [41]:
df_all_fb.head()

,business_name,fb_followers,fb_like_range_month_m,fb_comment_range_month_m,fb_like_range_month_m_1,fb_comment_range_month_m_1
0,Cafe Luna,1800.0,"(6.2, 4610.6]","(-0.001, 0.2]","(-0.001, 0.4]","(-0.001, 0.2]"
1,Cafe Luna,1800.0,"(-0.001, 0.4]","(-0.001, 0.2]","(6.2, 4610.6]","(0.2, 110.2]"
2,Cafe Luna,1800.0,"(6.2, 4610.6]","(0.2, 110.2]","(-0.001, 0.4]","(-0.001, 0.2]"
3,Cafe Luna,1800.0,"(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 0.4]","(-0.001, 0.2]"
4,Cafe Luna,1800.0,"(-0.001, 0.4]","(-0.001, 0.2]","(-0.001, 0.4]","(-0.001, 0.2]"

In [42]:
df_all_fb.to_csv(f'cleaned_{type_}_range.csv', index=False)

# Tiktok Business

In [41]:
selected_cols = ['tiktok_ave_views_first5_biz_202309', 'tiktok_ave_likes_first5_biz_202309'
                 , 'tiktok_ave_comments_first5_biz_202309', 'tiktok_ave_views_first5_biz_202308'
                 , 'tiktok_ave_likes_first5_biz_202308', 'tiktok_ave_comments_first5_biz_202308'
                 , 'tiktok_ave_views_first5_biz_202307', 'tiktok_ave_likes_first5_biz_202307'
                 , 'tiktok_ave_comments_first5_biz_202307', 'tiktok_ave_views_first5_biz_202306'
                 , 'tiktok_ave_likes_first5_biz_202306', 'tiktok_ave_comments_first5_biz_202306'
                 , 'tiktok_ave_views_first5_biz_202305', 'tiktok_ave_likes_first5_biz_202305'
                 , 'tiktok_ave_comments_first5_biz_202305', 'tiktok_ave_views_first5_biz_202304'
                 , 'tiktok_ave_likes_first5_biz_202304', 'tiktok_ave_comments_first5_biz_202304']

In [42]:
df_tiktok = df[selected_cols]

In [43]:
df_tiktok['zero_count'] = np.sum(df_tiktok, axis=1)

/var/folders/80/mp1xxcp16j15b71tc4znvxc00000gn/T/ipykernel_51003/2298292918.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tiktok['zero_count'] = np.sum(df_tiktok, axis=1)

In [44]:
df_tiktok['business_name'] = df['business_name']

/var/folders/80/mp1xxcp16j15b71tc4znvxc00000gn/T/ipykernel_51003/3693705048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tiktok['business_name'] = df['business_name']

In [45]:
df_tiktok = df_tiktok.loc[df_tiktok['zero_count']!=0]

In [46]:
df_tiktok_zero = list(df_tiktok['business_name'].unique())
df_tiktok_zero

['4 Corners Pizza',
 'Zuma',
 'Stella Cheeses',
 'Bar Vlaha',
 'Levain Bakery',
 'Crazy Good Kitchen',
 'Bakey Babka',
 'MEX',
 'Oath Pizza',
 'Empire Boston',
 'Shojo Cambridge',
 'Shōjō Boston',
 'Park 54 Restaurant & Lounge',
 'Life Alive Organic Cafe',
 'by Love Art',
 'Novara Restaurant | Milton MA',
 'CHILACATES',
 'Laughing Monk Cafe l Omakase & Tasting Box Togo',
 'Tiger Sugar',
 'Bartaco',
 'The Daily Catch',
 'Saloniki Greek',
 'La Colombe Coffee Roasters',
 'Ruckus',
 'Toro Boston',
 'Meimei dumplings',
 'Teado Central',
 'Trade Boston']

In [47]:
type_ = 'tiktok'

In [48]:
#like
selected_cols_like = ['business_name', f'{type_}_ave_likes_first5_biz_202304', f'{type_}_ave_likes_first5_biz_202305'
                , f'{type_}_ave_likes_first5_biz_202306', f'{type_}_ave_likes_first5_biz_202307'
                , f'{type_}_ave_likes_first5_biz_202308', f'{type_}_ave_likes_first5_biz_202309']

df_like = df[selected_cols_like]
df_like_trans = transform_df(df_like,category_='like')

#comment
selected_cols_comment = ['business_name', f'{type_}_ave_comments_first5_biz_202304', f'{type_}_ave_comments_first5_biz_202305'
                , f'{type_}_ave_comments_first5_biz_202306', f'{type_}_ave_comments_first5_biz_202307'
                , f'{type_}_ave_comments_first5_biz_202308', f'{type_}_ave_comments_first5_biz_202309']

df_comment = df[selected_cols_comment]
df_comment_trans = transform_df(df_comment, category_='comment')

In [50]:
df_all = pd.concat([df_like_trans, df_comment_trans],axis=1)

df_followers_tem = df_followers[['business_name', f'{type_}_followers']]
# Repeat each row 5 times
df_followers_rep = pd.DataFrame({
    'business_name': np.repeat(df_followers_tem['business_name'], 5),
    f'{type_}_followers': np.repeat(df_followers_tem[f'{type_}_followers'], 5)
})

df_followers_rep = pd.DataFrame(df_followers_rep)
df_followers_rep = df_followers_rep.reset_index(drop=True)

In [51]:
df_followers_tem = df_followers[['business_name', f'{type_}_likes']]

# Repeat each row 5 times
df_likes_rep = pd.DataFrame({
    'business_name': np.repeat(df_followers_tem['business_name'], 5),
    f'{type_}_likes': np.repeat(df_followers_tem[f'{type_}_likes'], 5)
})

df_likes_rep = pd.DataFrame(df_likes_rep)
df_likes_rep = df_likes_rep.reset_index(drop=True)
df_likes_rep.drop('business_name',axis=1,inplace=True)

df_all = pd.concat([df_followers_rep, df_likes_rep, df_all],axis=1)

In [52]:
df_all.describe()

,tiktok_followers,tiktok_likes,like_month_m,like_month_m_1,comment_month_m,comment_month_m_1
count,235.000000,2.350000e+02,480.000000,480.000000,480.000000,480.000000
mean,3452.702128,7.798789e+04,40.893437,34.790972,12.337951,0.738681
std,11000.664595,3.702585e+05,267.725080,222.262690,253.917780,5.284876
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,14.000000,2.300000e+01,0.000000,0.000000,0.000000,0.000000
50%,40.000000,2.280000e+02,0.000000,0.000000,0.000000,0.000000
75%,153.000000,1.230000e+03,0.000000,0.000000,0.000000,0.000000
max,61500.000000,2.500000e+06,3329.600000,2773.000000,5562.600000,90.000000

In [53]:
df_all['comment_month_m'].value_counts()

0.000000       423
0.200000         5
0.400000         5
1.000000         4
0.250000         4
0.500000         3
3.000000         3
0.333333         3
0.800000         2
5.000000         2
2.000000         2
0.666667         2
2.200000         1
4.400000         1
1.800000         1
13.400000        1
7.200000         1
9.200000         1
2.400000         1
29.500000        1
41.400000        1
4.000000         1
9.333333         1
5562.600000      1
1.600000         1
0.750000         1
7.000000         1
20.800000        1
90.000000        1
3.400000         1
9.800000         1
30.400000        1
3.800000         1
30.800000        1
Name: comment_month_m, dtype: int64

In [55]:
#filter out zero row
df_all = df_all.loc[df_all['business_name'].isin(df_tiktok_zero)]

In [56]:
# Define the target variable ranges based on quantiles
num_bins = 4  # Number of quantiles or ranges
df_all[f'{type_}_like_range_month_m'] = pd.qcut(df_all['like_month_m'], q=num_bins, duplicates='drop')

df_all[f'{type_}_comment_range_month_m'] = pd.qcut(df_all['comment_month_m'], q=num_bins, duplicates='drop')

In [57]:
#like
like_range_list = list(df_all[f'{type_}_like_range_month_m'].unique())
# like_range_list.remove(np.nan)

df_all[f'{type_}_like_range_month_m_1'] = np.nan
for range_ in like_range_list:
    left_ = range_.left
    right_ = range_.right
    mask = (df_all['like_month_m_1'] > left_) & (df_all['like_month_m_1'] <= right_)
    df_all.loc[mask, f'{type_}_like_range_month_m_1'] = str(range_)

In [58]:
#comment
comment_range_list = list(df_all[f'{type_}_comment_range_month_m'].unique())
# comment_range_list.remove(np.nan)

df_all[f'{type_}_comment_range_month_m_1'] = np.nan
for range_ in comment_range_list:
    left_ = range_.left
    right_ = range_.right
    mask = (df_all['comment_month_m_1'] > left_) & (df_all['comment_month_m_1'] <= right_)
    df_all.loc[mask, f'{type_}_comment_range_month_m_1'] = str(range_)

In [59]:
df_all.isna().sum()

business_name                     0
tiktok_followers                  0
tiktok_likes                      0
like_month_m                      0
like_month_m_1                    0
comment_month_m                   0
comment_month_m_1                 0
tiktok_like_range_month_m         0
tiktok_comment_range_month_m      0
tiktok_like_range_month_m_1       0
tiktok_comment_range_month_m_1    0
dtype: int64

In [60]:
df_all[f'{type_}_like_range_month_m_1'].value_counts()

(-0.001, 11.3]      71
(47.312, 3329.6]    36
(11.3, 47.312]      33
Name: tiktok_like_range_month_m_1, dtype: int64

In [61]:
df_all[f'{type_}_like_range_month_m'].value_counts()

(-0.001, 11.3]      70
(11.3, 47.312]      35
(47.312, 3329.6]    35
Name: tiktok_like_range_month_m, dtype: int64

In [62]:
df_all[f'{type_}_comment_range_month_m_1'].value_counts()

(-0.001, 0.688]    105
(0.688, 5562.6]     35
Name: tiktok_comment_range_month_m_1, dtype: int64

In [63]:
df_all[f'{type_}_comment_range_month_m'].value_counts()

(-0.001, 0.688]    105
(0.688, 5562.6]     35
Name: tiktok_comment_range_month_m, dtype: int64

In [64]:
selected_cols = ['business_name', f'{type_}_followers', f'{type_}_likes', f'{type_}_like_range_month_m'
                 , f'{type_}_comment_range_month_m', f'{type_}_like_range_month_m_1'
                 , f'{type_}_comment_range_month_m_1']

df_all_tiktok = df_all[selected_cols]

In [65]:
df_all_tiktok.head()

,business_name,tiktok_followers,tiktok_likes,tiktok_like_range_month_m,tiktok_comment_range_month_m,tiktok_like_range_month_m_1,tiktok_comment_range_month_m_1
10,4 Corners Pizza,1651.0,37700.0,"(11.3, 47.312]","(0.688, 5562.6]","(-0.001, 11.3]","(-0.001, 0.688]"
11,4 Corners Pizza,1651.0,37700.0,"(-0.001, 11.3]","(-0.001, 0.688]","(11.3, 47.312]","(0.688, 5562.6]"
12,4 Corners Pizza,1651.0,37700.0,"(11.3, 47.312]","(0.688, 5562.6]","(47.312, 3329.6]","(0.688, 5562.6]"
13,4 Corners Pizza,1651.0,37700.0,"(47.312, 3329.6]","(0.688, 5562.6]","(-0.001, 11.3]","(-0.001, 0.688]"
14,4 Corners Pizza,1651.0,37700.0,"(-0.001, 11.3]","(-0.001, 0.688]","(47.312, 3329.6]","(0.688, 5562.6]"

In [66]:
df_all_tiktok.to_csv(f'cleaned_{type_}_biz_range.csv', index=False)

# Tiktok Non-Business

In [137]:
type_ = 'tiktok'

In [138]:
#view
selected_cols_view = ['business_name', f'{type_}_ave_views_first5_nonbiz_202304', f'{type_}_ave_views_first5_nonbiz_202305'
                , f'{type_}_ave_views_first5_nonbiz_202306', f'{type_}_ave_views_first5_nonbiz_202307'
                , f'{type_}_ave_views_first5_nonbiz_202308', f'{type_}_ave_views_first5_nonbiz_202309']

df_view = df[selected_cols_view]
df_view_trans = transform_df(df_view,category_='view')

#like
selected_cols_like = ['business_name', f'{type_}_ave_likes_first5_nonbiz_202304', f'{type_}_ave_likes_first5_nonbiz_202305'
                , f'{type_}_ave_likes_first5_nonbiz_202306', f'{type_}_ave_likes_first5_nonbiz_202307'
                , f'{type_}_ave_likes_first5_nonbiz_202308', f'{type_}_ave_likes_first5_nonbiz_202309']

df_like = df[selected_cols_like]
df_like_trans = transform_df(df_like,category_='like')

#comment
selected_cols_comment = ['business_name', f'{type_}_ave_comments_first5_nonbiz_202304', f'{type_}_ave_comments_first5_nonbiz_202305'
                , f'{type_}_ave_comments_first5_nonbiz_202306', f'{type_}_ave_comments_first5_nonbiz_202307'
                , f'{type_}_ave_comments_first5_nonbiz_202308', f'{type_}_ave_comments_first5_nonbiz_202309']

df_comment = df[selected_cols_comment]
df_comment_trans = transform_df(df_comment, category_='comment')

In [139]:
df_all = pd.concat([df_view_trans, df_like_trans, df_comment_trans],axis=1)

df_followers_tem = df_followers[['business_name', f'{type_}_followers']]
# Repeat each row 5 times
df_followers_rep = pd.DataFrame({
    'business_name': np.repeat(df_followers_tem['business_name'], 5),
    f'{type_}_followers': np.repeat(df_followers_tem[f'{type_}_followers'], 5)
})

df_followers_rep = pd.DataFrame(df_followers_rep)
df_followers_rep = df_followers_rep.reset_index(drop=True)

df_all = pd.concat([df_followers_rep, df_all],axis=1)
df_all.drop(f'{type_}_followers',axis=1,inplace=True)

In [140]:
df_all.describe()

,view_month_m,view_month_m_1,like_month_m,like_month_m_1,comment_month_m,comment_month_m_1
count,480.000000,480.000000,480.000000,480.000000,480.000000,480.000000
mean,4912.808993,4838.693958,252.921701,264.162951,2.599514,2.661806
std,22927.130762,23107.230608,1558.220609,1634.131774,10.757015,10.982654
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,256.625000,264.625000,2.500000,3.500000,0.000000,0.000000
75%,1633.000000,1688.375000,61.250000,60.625000,2.000000,1.850000
max,408000.000000,408000.000000,31200.000000,31200.000000,197.000000,197.000000

In [141]:
# Define the target variable ranges based on quantiles
num_bins = 4  # Number of quantiles or ranges
df_all[f'{type_}_like_range_month_m'] = pd.qcut(df_all['like_month_m'], q=num_bins, duplicates='drop')

df_all[f'{type_}_view_range_month_m'] = pd.qcut(df_all['view_month_m'], q=num_bins, duplicates='drop')

df_all[f'{type_}_comment_range_month_m'] = pd.qcut(df_all['comment_month_m'], q=num_bins, duplicates='drop')

In [142]:
#like
like_range_list = list(df_all[f'{type_}_like_range_month_m'].unique())
# like_range_list.remove(np.nan)

df_all[f'{type_}_like_range_month_m_1'] = np.nan
for range_ in like_range_list:
    left_ = range_.left
    right_ = range_.right
    mask = (df_all['like_month_m_1'] > left_) & (df_all['like_month_m_1'] <= right_)
    df_all.loc[mask, f'{type_}_like_range_month_m_1'] = str(range_)

In [143]:
#comment
comment_range_list = list(df_all[f'{type_}_comment_range_month_m'].unique())
# comment_range_list.remove(np.nan)

df_all[f'{type_}_comment_range_month_m_1'] = np.nan
for range_ in comment_range_list:
    left_ = range_.left
    right_ = range_.right
    mask = (df_all['comment_month_m_1'] > left_) & (df_all['comment_month_m_1'] <= right_)
    df_all.loc[mask, f'{type_}_comment_range_month_m_1'] = str(range_)

In [144]:
#view
view_range_list = list(df_all[f'{type_}_view_range_month_m'].unique())
# view_range_list.remove(np.nan)

df_all[f'{type_}_view_range_month_m_1'] = np.nan
for range_ in view_range_list:
    left_ = range_.left
    right_ = range_.right
    mask = (df_all['view_month_m_1'] > left_) & (df_all['view_month_m_1'] <= right_)
    df_all.loc[mask, f'{type_}_view_range_month_m_1'] = str(range_)

In [145]:
df_all.isna().sum()

business_name                     0
view_month_m                      0
view_month_m_1                    0
like_month_m                      0
like_month_m_1                    0
comment_month_m                   0
comment_month_m_1                 0
tiktok_like_range_month_m         0
tiktok_view_range_month_m         0
tiktok_comment_range_month_m      0
tiktok_like_range_month_m_1       0
tiktok_comment_range_month_m_1    0
tiktok_view_range_month_m_1       0
dtype: int64

In [146]:
df_all[f'{type_}_like_range_month_m_1'].value_counts()

(-0.001, 2.5]       238
(2.5, 61.25]        124
(61.25, 31200.0]    118
Name: tiktok_like_range_month_m_1, dtype: int64

In [147]:
df_all[f'{type_}_like_range_month_m'].value_counts()

(-0.001, 2.5]       240
(2.5, 61.25]        120
(61.25, 31200.0]    120
Name: tiktok_like_range_month_m, dtype: int64

In [148]:
df_all[f'{type_}_comment_range_month_m_1'].value_counts()

(-0.001, 2.0]    375
(2.0, 197.0]     105
Name: tiktok_comment_range_month_m_1, dtype: int64

In [149]:
df_all[f'{type_}_comment_range_month_m'].value_counts()

(-0.001, 2.0]    373
(2.0, 197.0]     107
Name: tiktok_comment_range_month_m, dtype: int64

In [150]:
df_all[f'{type_}_view_range_month_m_1'].value_counts()

(-0.001, 256.625]     239
(1633.0, 408000.0]    122
(256.625, 1633.0]     119
Name: tiktok_view_range_month_m_1, dtype: int64

In [151]:
df_all[f'{type_}_view_range_month_m'].value_counts()

(-0.001, 256.625]     240
(256.625, 1633.0]     120
(1633.0, 408000.0]    120
Name: tiktok_view_range_month_m, dtype: int64

In [152]:
selected_cols = ['business_name', f'{type_}_like_range_month_m', f'{type_}_view_range_month_m'
                 , f'{type_}_comment_range_month_m', f'{type_}_like_range_month_m_1', f'{type_}_comment_range_month_m_1'
                 , f'{type_}_view_range_month_m_1']

df_all_tiktok = df_all[selected_cols]

In [153]:
df_all_tiktok.head()

,business_name,tiktok_like_range_month_m,tiktok_view_range_month_m,tiktok_comment_range_month_m,tiktok_like_range_month_m_1,tiktok_comment_range_month_m_1,tiktok_view_range_month_m_1
0,Cafe Luna,"(-0.001, 2.5]","(-0.001, 256.625]","(-0.001, 2.0]","(61.25, 31200.0]","(2.0, 197.0]","(1633.0, 408000.0]"
1,Cafe Luna,"(61.25, 31200.0]","(1633.0, 408000.0]","(2.0, 197.0]","(2.5, 61.25]","(2.0, 197.0]","(1633.0, 408000.0]"
2,Cafe Luna,"(2.5, 61.25]","(1633.0, 408000.0]","(2.0, 197.0]","(61.25, 31200.0]","(2.0, 197.0]","(1633.0, 408000.0]"
3,Cafe Luna,"(61.25, 31200.0]","(1633.0, 408000.0]","(2.0, 197.0]","(61.25, 31200.0]","(2.0, 197.0]","(1633.0, 408000.0]"
4,Cafe Luna,"(61.25, 31200.0]","(1633.0, 408000.0]","(2.0, 197.0]","(2.5, 61.25]","(-0.001, 2.0]","(1633.0, 408000.0]"

In [154]:
df_all_tiktok.to_csv(f'cleaned_{type_}_nonbiz_range.csv', index=False)